# Ignore run.py
run.py

# Ignore any .bat file
*.bat

# Ignore settings.json
settings.json

*.env
*.zip
*.txt

# Ignore files from discord-bot-test

discord-bot/node_modules/


assets/
bk/
docs/
geocoding/
lit review/
misc-testing/
scrapers/
survey processing/
tg-bot-test/

**/node_modules/

dataset-creation/parsed/single


